<%- include('header'); -%>
<div class="item">
    <h3>This is an about page</h3>
</div>
<div class="item">
    <p>The "EJS To-Do List" is a valuable tool for anyone seeking to streamline their task management process. With the ability to add new tasks and conveniently mark them as done, users can maintain a clear overview of their daily activities. The combination of HTML, CSS, JavaScript, Express.js, and EJS provides a seamless and interactive experience for task management, making it a practical solution for daily planning and organization.</p>
</div>
<%- include('footer'); -%>